@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

html, body, div, h2, h3, h4, h5, h6, p, a, q, s,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, 
dt, dd, ol, ul, li, tr, th, td, aside, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;

}
/* HEADER */
.header {
    background-color: #1f1f1f;
    text-align: center;
    padding: 100px 0 100px;
    background-image: url(../images/headerBG.jpg);
    background-size: cover;
    background-position: center, top;
    margin-bottom: 25px;
}
.header h1 {
	color: #eeeeee;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 56px;
}

.header img {
	padding-top: 20px;
  	width: 200px;
  	height: 200px;
}

/* BODY */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
body {
	line-height: 1;
}
	body {
		background-color: #eeeeee;
		color: #1f1f1f;
	}

	body {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.65;
	}

	a {
	    transition: color .2s ease-in-out;
		text-decoration: none;
        color:#1f1f1f;
	}

		a:hover {
			text-decoration: none;
            color:#118387;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

    h1 {
        font-weight: 300;
        line-height: 1.375;
        letter-spacing: 2px;
    }
	h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.375;
		letter-spacing: 2px;
	}

		h1 a, h2 a, h3 a, h4 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 56px;
		line-height: 1.2;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 17px;
	}

/* LISTS */
ol {
	list-style: decimal;
	padding-left: 20px;
}
	ol li {
		padding-left: 4px;
	}
ul {
	list-style: disc;
	padding-left: 16px;
}
	ul li {
		padding-left: 8px;
	}

/* FOOTER */
footer {
    margin-top: 25px;
    background:#1f1f1f;
    padding-bottom: 20px;
   }
  
  footer p {
    font-size:12px;
    color:#eeeeee;
    text-align:center;
    padding-top: 20px;
  }
  
  footer ul {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      padding-left: 0px;
  }
  
  footer li {
      display: inline-block;
      margin: 10px;
  }
  
  footer li a {
      display: block;
      text-decoration: none;
      border-bottom: medium none;
      padding: 20px;
      border-radius: 3px;
      transition: all 0.3s ease-in 0s, all 1s ease 0s;
  }

  .twitter {
    background-image: url(../images/twitter.png);
	background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
  }

  footer .twitter:hover {
    color: #eeeeee;
    background-color:#118387;
  }


  